{% extends 'base.html' %}

<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Recipe - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head> -->

{% block title %}
Create A Recipe - Scrumptious Recipes
{% endblock title %}

<!-- <body> -->
{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipes_list' %}">>Main Page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
    <!-- <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body> -->

<!-- </html> -->
