{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>

<!-- <body> -->
{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipes_list' %}">Main Page</a>
            <a href="{% url 'create_a_really_delicious_recipe' %}">Create a recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <!-- <h1>{{ recipe_object.title }}</h1> -->
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-list">
            {% for recipe in recipes %}
            <div class="recipes">
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}" alt="">
                <div>4.3 stars</div>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
{% endblock content %}
<!-- </body> -->

</html>
