/* html {
    background-color: #910f32;
    color: #fff
}

p {
    width: 200px;
    height: 200px;
    border: 1px solid #2410aa;
    padding: 8px;
    color: #14213d;
    background-color: blanchedalmond;


} */



body {
    margin: 0px;
    padding:0px;
}

main {
    padding:16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 36px;
    padding-right: 0px;
    font-size: larger;
    background-color: #F2D272;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black solid;
    padding: 16px;
    background-color: #F2D272;
    font-size: larger;
}

a {
    text-decoration: none
  }

.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
    /* grid-template-columns: 1fr, 1fr, 1fr, 1fr; */
    /* grid-template-columns: repeat(3, 1fr), 1fr; */
    /* grid-template-rows: auto, 1fr; */

.recipes a {
    color: #93A603;
}


nav > a {
    color: black
}

tr:nth-child(even) {
    background-color: #E8E8E8

}


/* .recipe {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 16px;
    grid-template-rows: repeat(4, auto) 1fr;
    width: 600px;
    margin-bottom: 16px;
} */
